/* 搜索模块 */

.lt-search {
    display: flex;
}

.lt-search .mui-input-row {
    flex: 1;
}


/* 搜索历史 */

.lt-history {
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}

.lt-history span {
    display: block;
    padding: 5px;
    border-bottom: 1px dotted #ccc;
    color: darkcyan;
}


/* 商品排序 */

.lt-order {
    margin: 10px;
    display: flex;
    background: #e0e0e0;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
}

.lt-order a {
    flex: 1;
    text-align: center;
}

.lt-order a.active {
    color: hotpink;
}


/* 商品模块 */

.lt-product a {
    display: inline-block;
    margin: 2%;
    width: 45%;
    box-shadow: 0 0 5px #ccc;
    text-align: center;
}

.lt-product a img {
    width: 100%;
    height: auto;
}

.lt-product a p {
    padding: 0 10px;
}

.lt-product a button {
    margin-bottom: 10px;
}

.lt-product .name {
    color: #333;
}

.lt-product .price {
    margin: 0 5px;
    color: hotpink;
}

.lt-product .oldPrice {
    margin: 0 5px;
    text-decoration: line-through;
}