<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>乐淘</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="assets/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/comment.css">
    <link rel="stylesheet" href="css/search.css">
</head>

<body>
    <!-- 主体 -->
    <div class="lt-container">
        <header class="lt-header">
            <a href="javascript:history.back();">
                <span class="fa fa-arrow-left"></span>
            </a>
            <h3>搜索列表</h3>
            <a href="javascript:;"></a>
        </header>
        <div class="lt-content">
            <div class="lt-wrapper">
                <!--滚动区域-->
                <div class="mui-scroll-wrapper" id="refreshContainer">
                    <div class="mui-scroll">
                        <!-- 搜索列表页面 -->
                        <!-- 搜索框 -->
                        <form class="mui-input-group">
                            <div class="lt-search">
                                <div class="mui-input-row">
                                    <input type="text" class="mui-input-clear" placeholder="请输入内容">
                                </div>
                                <button type="button" class="mui-btn mui-btn-royal">搜索</button>
                            </div>
                        </form>
                        <!-- 商品排序 -->
                        <div class="lt-order">
                            <a href="javascript:;" data-order="time">上架时间<span class="fa fa-arrow-down"></span></a>
                            <a href="javascript:;" data-order="price">价格<span class="fa fa-arrow-down"></span></a>
                            <a href="javascript:;" data-order="num">销量<span class="fa fa-arrow-down"></span></a>
                            <a href="javascript:;" data-order="cacle">折扣<span class="fa fa-arrow-down"></span></a>
                        </div>
                        <!-- 商品列表 -->
                        <div class="lt-product">
                            <!-- TODO -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="lt-footer">
            <a class="tab_home fa fa-home" href="index.html">
                <span>首页</span>
            </a>
            <a class="tab_cate fa fa-bars" href="category.html">
                <span>分类</span>
            </a>
            <a class="tab_cart fa fa-shopping-cart" href="cart.html">
                <span>购物车</span>
            </a>
            <a class="tab_user fa fa-user" href="user/index.html">
                <span>会员中心</span>
            </a>
        </footer>
    </div>
    <script type="text/template" id="productTemplate">
        <% for(var i=0;i<data.length;i++){ %>
            <a href="products.html?productId=<%=data[i].id %>">
                <% if(data[i].pic && data[i].pic[0]){ %>
                    <img src="<%=data[i].pic[0].picAddr %>" alt="">
                    <% }else{ %>
                        <img src="images/none.jpg" alt="">
                        <% } %>
                            <p class="name mui-ellipsis-2">
                                <%=data[i].proName %>
                            </p>
                            <p>
                                <span class="price"><%=data[i].price %></span>
                                <span class="oldPrice"><%=data[i].oldPrice %></span>
                            </p>
                            <button class="button">立即购买</button>
            </a>
            <% } %>
    </script>

    <script src="assets/mui/js/mui.min.js"></script>
    <script src="assets/zepto/zepto.min.js"></script>
    <script src="assets/artTemplate/template-native.js"></script>
    <script src="js/common.js"></script>
    <script src="js/searchList.js"></script>

</body>

</html>